<div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <h4 class="text-center mt-3 p-3">Bienvenue sur <span class="text-primary">Carnet de montagne</span></h4>
        </div>
        {% for message in messages %}
            <div class="carousel-item">
                {% autoescape false%}
               {{ message.message}}
                {% endautoescape %}
            </div>
        {% endfor %}
    </div>
</div>