{% extends 'base.html.twig' %}

{% block title %}Carnet de montagne{% endblock %}

{% block body %}
    <div class="container">

    <div class="container d-flex justify-content-center flex-column mt-5">
 {% include 'home/home_carrousel.html.twig' %}
    </div>
    <div class="row">
        {% include('home/home_filter.html.twig')%}
    </div>
        <div class="row mt-3">
    {% for page in notebook %}
            <div class="col-6 mt-3">
                {% include 'notebook/small_page.html.twig' with [{'page':page}] %}
            </div>
    {% endfor %}
        </div>
    <div class="navigation d-flex justify-content-center mt-5">
        {{ knp_pagination_render(notebook) }}
    </div>
</div>

{% endblock %}
