{% extends 'base.html.twig' %}

{% block title %}Carnet de montagne{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3">Bienvenue sur Carnet de montagne</h1>

    <p class="text-center mt-3">Ce site est destine a vous permettre</p>
    {% for page in notebook %}
        {% include 'notebook/one_page.html.twig' with {'page':page} %} {% endfor %}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(notebook) }}

    </div>
</div>
{% endblock %}
