{% extends 'base.html.twig' %}

{% block title %}Carnet de montagne{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3">Bienvenue sur Carnet de montagne</h1>

</div>
{% endblock %}
