$primary : #038cba;
$secondary : #eee;
$success: #a4fdac;
$warning: #022e8c;
$carousel-control-color: $primary;
$carousel-control-opacity: 0.75;
$carousel-control-hover-opacity: 1;
$carousel-control-icon-width: 6rem;
$teal:    #20c997;
$yellow: #f6ea29;
$orange:  #fd7e14;
$purple:  #6f42c1;
$red:     #dc3545;