{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-2" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-4 ">
        <h2 class="text-center">Bienvenue <span class="text-primary">{{ app.user.firstName }}</span> </h2>
    </div>
    {% if notebook is empty %}
    <p>Vous n'avez pas encore ouvert de carnet</p>
    {% endif %}

    {% for page in notebook %}
    {% include 'notebook/one_page.html.twig' with {'page':page} %}
    {% endfor %}
       <div class="navigation d-flex justify-content-center">
           {{ knp_pagination_render(notebook) }}
       </div>
    <div class="container d-flex justify-content-center mt-5">
        <a class="btn btn-primary w-25" href="{{ path('app_notebook_new') }}" role="button">Nouvelle note</a>
    </div>


{% endblock %}
