{% extends 'base.html.twig' %}

{% block title %}Vos sortie{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h4 class="text-center">Liste des sorties de : <span class="text-primary">{{ notebookUser.firstName }} {{ notebookUser.lastName }}</span></h4>
    </div>
    <div class="row m-2">
        {% for page in notebooks %}
            <div class="col-12">
                {% include 'notebook/small_page.html.twig' with {'page':page} %}
            </div>
        {% endfor %}
    </div>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(notebooks) }}
    </div>
{% endblock %}