{% extends 'base.html.twig' %}
{% block body %}

    <div class="container mt-4 w-50">
        <h1 class="text-center text-primary mt-4">Modifier mot de passe</h1>
        {# render the form and change the submission method #}
        {{ form(form) }}
    </div>

{% endblock %}